<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>インストーラー - QHM v6 haik</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top haik-navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="<?php echo h($location)?>">QHM</a>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="http://www.open-qhm.net/" target="_blank">Tutorial</a>
        </li>
      </ul>
    </div>
    <!-- /.container-fluid -->
  </nav>

    <header class="haik-header">
      <div class="haik-content">
        <div class="haik-content-inner">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <h1>QHM インストーラー</h1>
              <h2>QHM v6 haik をインストールします</h2>
              <p>
                インストールを開始するをクリックすると、<br>
                QHMを <code class="haik-install-url"><?php echo h($env['path']) ?></code> にインストールします
              </p>
              <?php if ($env['enable']): ?>
                <?php if ($env['warning']): ?>
                  <?php if ($env['has_static_site']): ?>
                    <div class="alert alert-warning">
                      <i class="fa fa-exclamation-triangle"></i>
                      <code>index.html</code> ファイルが存在します。<br>
                      <br>
                      不要なファイルであれば削除、<br>
                      あるいは <code>_index.html</code> へ名前を変更してください。<br>
                    </div>
                  <?php endif ?>
                <?php endif ?>
                <div>
                  <button type="button" id="install" class="btn btn-primary btn-lg block center-block">インストールを開始する</button>
                  <small>( QHM v6 haik )</small>
                </div>

                <div class="progress-container haik-progress" id="progress">
                  <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0% Complete</span>
                    </div>
                  </div>
                </div>

              <?php else: ?>
                <div class="alert alert-danger">
                  <?php if (! $env['writable']): ?>
                    <i class="fa fa-exclamation-triangle"></i> <code><?php echo h(INSTALL_DIR) ?></code>
                    に書き込みができません。<br>
                  <?php endif?>
                  <?php if ( ! $env['allow_url_fopen']): ?>
                    <i class="fa fa-exclamation-triangle"></i> PHP設定 <code>allow_url_fopen</code>
                    を有効にしてください。<br>
                  <?php endif ?>
                  <?php if ( ! $env['unzip_strategy']): ?>
                    <i class="fa fa-exclamation-triangle"></i> Zip ファイルの解凍ができません。<br>
                  <?php endif ?>
                  <?php if ( ! $env['is_empty']): ?>
                    <i class="fa fa-exclamation-triangle"></i> 既にPHPアプリケーションがインストールされています。
                  <?php endif ?>
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-lg disabled center-block">インストールできません</button>
                  <small>( haik : QHM v6 )</small>
                <div>
              <?php endif ?>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
    InstallerData = <?php echo $data_json?>;
    </script>
    <script src="js/main.js"></script>
</body>

</html>
